<% if @comment.valid? -%>
  $('#comments').append($("<%= escape_javascript(render('posts/comment', comment: @comment)) -%>").hide().fadeIn(1000));
  $('#comment_errors').html("");
  $('#comment_body').val("");
<% else -%>
  $('#comment_errors').html("<%= escape_javascript(render('posts/comment_errors', comment: @comment)) -%>");
<% end -%>
