<li class="list-group-item">
  <h4 class="list-group-item-heading">
    <%= comment.user.try(:username) -%> 
    <small>posted <%= time_ago_in_words(comment.created_at) -%> ago</small>
  </h4>
  <p class="list-group-item-text">
    <%= simple_format(comment.body) %>
    <div class="clearfix">
      <div class="pull-right">
        <% if policy(comment).edit? %>
          <%= link_to_edit(edit_post_comment_path(comment.post, comment)){ " Edit" } %>
        <% end -%>
        <% if policy(comment).destroy? %>
          <%= link_to_destroy([comment.post, comment]){ " Annihilate" } %>
        <% end %>
      </div>
    </div>
  </p>
</li>

