<%= bootstrap_form_for(@post) do |f| %>
  <%= f.error_summary %>

  <%= f.text_field :title %>
  <%= f.text_area :body, style: "height: 500px;" %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
