<div class="page-header text-center">
  <h1>Naegles Bagels Blog</h1>
</div>

<ul class="list-group">
  <% @posts.each do |post| %>
    <li class="list-group-item">
      <h3 class="list-group-item-heading">
        <%= post.title %>
        <small>
          Posted by <%= post.user.try(:username) -%> 
          <%= time_ago_in_words(post.created_at) -%> ago
        </small>
      </h4>
      <p class="list-group-item-text">
        <div class="well">
          <%= simple_format(post.body) %>
        </div>
        <div class="pull-right">
          <% if policy(post).edit? %>
            <%= link_to_edit(edit_post_path(post)){ " Edit" } %>
          <% end %>
          <% if policy(post).destroy? %>
            <%= link_to_destroy(post){ " Annihilate" } %>
          <% end %>
        </div>
      </p>
      <% if last_comment = post.comments.last %>
        <blockquote>
          <p>
            <%= last_comment.body %>
          <p>
          <footer>
            Posted by <%= last_comment.user.try(:username) %> <%= time_ago_in_words last_comment.created_at %> ago
          </footer>
        </blockquote>
      <% end %>
      <%= link_to pluralize(post.comments.count, "comment"), post %>
    </li>
  <% end %>
</ul>
<br>

<%= link_to 'New Post', new_post_path, class: "btn btn-primary" %>
