<h1>
  <%= @post.title -%>
  <% if policy(@post).edit? %>
    <%= link_to_edit edit_post_path(@post) %>
  <% end -%>
  <% if policy(@post).destroy? %>
    <%= link_to_destroy @post %>
  <% end -%>
  <small>Posted by <%= @post.user.try(:username) -%> <%= time_ago_in_words(@post.created_at) %> ago</small>
</h1>

<div class="well">
  <%= simple_format(@post.body) %>
</div>

<h2>Comments</h2>

<ul id="comments" class="list-group">
  <% @post.comments.order(:created_at).each do |comment| %>
    <%= render 'comment', :comment => comment %>
  <% end %>
</ul>

<% if policy(Comment.new).new? %>
<%= bootstrap_form_for [@post, @post.comments.build], remote: true do |f| %>
  <div id="comment_errors">
    <%= render 'comment_errors', comment: @comment -%>
  </div>

  <p>
    <b>New Comment</b>
    <br/>
    <%= f.text_area :body, hide_label: true %>
  </p>
  <div class="actions">
    <%= f.submit "Add Comment" %>
  </div>
<% end -%>
<% else -%>
  <p class="text-center text-warning">
    You must <%= link_to "log in", new_user_session_path %> or <%= link_to "sign up", new_user_registration_path %> to comment on a post.
  </p>
<% end %>

<%= link_to 'Back', posts_path %>

