- if current_user.present?
  %li.dropdown
    = link_to "#", class: "dropbdown-toggle", data: {toggle: "dropdown"} do
      %span.glyphicon.glyphicon-user
      = current_user.username
      %span.caret
    %ul.dropdown-menu{role: "menu"}
      %li= link_to "Update Profile", edit_user_registration_path
      %li= link_to "Sign Out", destroy_user_session_path, method: :delete
- else
  = link_to "Log in", new_user_session_path
  \|
  = link_to "Sign up", new_user_registration_path
